Repository web-infra-dev/rslib, pull requests merged in 2024-11, with the labels that each got.

#352 docs: configure Rslib
  website/docs/en/config/rsbuild.mdx
  website/docs/en/guide/basic/cli.mdx
  website/docs/en/guide/basic/configure-rslib.mdx
Labels: change: docs

#365 docs: complete types and default value for `lib` configs
  website/docs/en/config/lib/auto-extension.mdx
  website/docs/en/config/lib/auto-external.mdx
  website/docs/en/config/lib/banner.mdx
  website/docs/en/config/lib/bundle.mdx
  website/docs/en/config/lib/dts.mdx
  website/docs/en/config/lib/external-helpers.mdx
  website/docs/en/config/lib/footer.mdx
  website/docs/en/config/lib/format.mdx
  website/docs/en/config/lib/redirect.mdx
  website/docs/en/config/lib/shims.mdx
  website/docs/en/config/lib/syntax.mdx
  website/docs/en/config/lib/umd-name.mdx
Labels: change: docs

#366 perf(CLI): enable Node cache before loading modules
  packages/core/bin/rslib.js
Labels: change: perf

#357 docs: update structure / format / 3rd deps / glossary / TS
  packages/core/src/types/config/index.ts
  packages/create-rslib/src/index.ts
  scripts/dictionary.txt
  website/docs/en/guide/advanced/_meta.json
  website/docs/en/guide/advanced/templates.mdx
  website/docs/en/guide/advanced/third-party-deps.mdx
  website/docs/en/guide/basic/_meta.json
  website/docs/en/guide/basic/bundle-mode.mdx
  website/docs/en/guide/basic/cjs-esm.mdx
  website/docs/en/guide/basic/output-files.mdx
  website/docs/en/guide/basic/output-format.mdx
  website/docs/en/guide/basic/output-structure.mdx
  website/docs/en/guide/basic/typescript-usage.mdx
  website/docs/en/guide/basic/typescript.mdx
  website/docs/en/guide/start/components/CJS.mdx
  website/docs/en/guide/start/components/ESM.mdx
  website/docs/en/guide/start/components/UMD.mdx
  website/docs/en/guide/start/glossary.mdx
  website/docs/en/guide/start/quick-start.mdx
Labels: change: docs

#372 docs: add basic description and JSDoc for lib options
  packages/core/src/types/config/index.ts
  website/docs/en/config/lib/auto-extension.mdx
  website/docs/en/config/lib/auto-external.mdx
  website/docs/en/config/lib/banner.mdx
  website/docs/en/config/lib/bundle.mdx
  website/docs/en/config/lib/dts.mdx
  website/docs/en/config/lib/external-helpers.mdx
  website/docs/en/config/lib/footer.mdx
  website/docs/en/config/lib/format.mdx
  website/docs/en/config/lib/redirect.mdx
  website/docs/en/config/lib/syntax.mdx
  website/docs/en/config/lib/umd-name.mdx
Labels: change: docs

#373 docs: update storybook / upgrade-rslib
  website/docs/en/guide/_meta.json
  website/docs/en/guide/advanced/storybook.mdx
  website/docs/en/guide/basic/_meta.json
  website/docs/en/guide/basic/umd.mdx
  website/docs/en/guide/basic/upgrade-rslib.mdx
  website/docs/en/guide/solution.mdx
  website/docs/en/guide/solution/_meta.json
  website/docs/en/guide/solution/react.mdx
  website/docs/en/guide/solution/typescript.mdx
  website/docs/en/guide/solution/vue.mdx
  website/docs/en/guide/start/glossary.mdx
Labels: change: docs

#371 docs: add lib.bundle/format/autoExtension doc
  packages/core/src/types/config/index.ts
  website/docs/en/config/_meta.json
  website/docs/en/config/lib.mdx
  website/docs/en/config/lib/_meta.json
  website/docs/en/config/lib/auto-extension.mdx
  website/docs/en/config/lib/bundle.mdx
  website/docs/en/config/lib/format.mdx
  website/docs/en/config/rsbuild.mdx
  website/docs/en/guide/basic/configure-rslib.mdx
  website/docs/en/guide/basic/output-format.mdx
Labels: change: docs

#374 docs(solution): add react and node.js
  packages/create-rslib/src/index.ts
  website/docs/en/guide/solution/_meta.json
  website/docs/en/guide/solution/nodejs.mdx
  website/docs/en/guide/solution/react.mdx
  website/docs/en/guide/solution/typescript.mdx
  website/docs/en/guide/solution/vue.mdx
Labels: change: docs

#375 docs: lib.autoExternal
  website/docs/en/config/lib/auto-external.mdx
  website/docs/en/guide/advanced/third-party-deps.mdx
Labels: change: docs

#376 docs: solutions overview / output compatibility
  website/docs/en/guide/advanced/_meta.json
  website/docs/en/guide/advanced/css.mdx
  website/docs/en/guide/advanced/output-compatibility.mdx
  website/docs/en/guide/advanced/package-json.mdx
  website/docs/en/guide/advanced/polyfill.mdx
  website/docs/en/guide/advanced/third-party-deps.mdx
  website/docs/en/guide/basic/output-format.mdx
  website/docs/en/guide/solution.mdx
  website/docs/en/guide/solution/preact.mdx
  website/docs/en/guide/start/components/MF.mdx
  website/docs/en/guide/start/glossary.mdx
Labels: change: docs

#378 docs: add Modern.js Module migration docs
  website/docs/en/guide/migration/modernjs-module.mdx
Labels: change: docs

#383 docs: add redirect/syntax/externalHelpers/banner/footer/umdName lib config
  packages/core/src/types/config/index.ts
  website/docs/en/config/lib/auto-external.mdx
  website/docs/en/config/lib/banner.mdx
  website/docs/en/config/lib/external-helpers.mdx
  website/docs/en/config/lib/footer.mdx
  website/docs/en/config/lib/redirect.mdx
  website/docs/en/config/lib/shims.mdx
  website/docs/en/config/lib/syntax.mdx
  website/docs/en/config/lib/umd-name.mdx
Labels: change: docs

#390 feat(command): support --lib arguments
  packages/core/src/build.ts
  packages/core/src/cli/commands.ts
  packages/core/src/config.ts
  tests/integration/cli/build.test.ts
  tests/integration/cli/index.test.ts
  tests/integration/cli/inspect.test.ts
  tests/integration/cli/src/index.ts
  website/docs/en/guide/basic/cli.mdx
Labels: change: feat

#397 docs: tsup migration guide
  website/docs/en/guide/migration/_meta.json
  website/docs/en/guide/migration/tsup.mdx
  website/docs/en/guide/start/quick-start.mdx
Labels: change: docs

#349 feat: support use storybook to dev rslib module federation format assets and also support hmr
  .npmrc
  examples/module-federation/mf-host/package.json
  examples/module-federation/mf-host/rsbuild.config.ts
  examples/module-federation/mf-react-component/.storybook/main.ts
  examples/module-federation/mf-react-component/README.md
  examples/module-federation/mf-react-component/package.json
  examples/module-federation/mf-react-component/rslib.config.ts
  examples/module-federation/mf-react-component/stories/index.stories.tsx
  examples/module-federation/mf-react-component/tsconfig.json
  examples/module-federation/mf-remote/package.json
  examples/module-federation/package.json
  packages/core/src/cli/commands.ts
  packages/core/src/mf.ts
  pnpm-lock.yaml
  tests/playwright.config.ts
  website/docs/en/guide/advanced/module-federation.mdx
  website/docs/en/guide/basic/cli.mdx
Labels: change: feat

#400 docs: mf dev cli commands
  website/docs/en/guide/basic/cli.mdx
Labels: change: docs

#412 fix: target of mf format should be web
  examples/module-federation/mf-react-component/rslib.config.ts
  packages/core/src/config.ts
Labels: change: fix

#420 fix: respect declarationDir if dts.distPath is not set
  packages/core/src/config.ts
  packages/plugin-dts/src/apiExtractor.ts
  packages/plugin-dts/src/dts.ts
  packages/plugin-dts/src/index.ts
  pnpm-lock.yaml
  tests/integration/dts/bundle-false/declaration-dir/package.json
  tests/integration/dts/bundle-false/declaration-dir/rslib.config.ts
  tests/integration/dts/bundle-false/declaration-dir/tsconfig.json
  tests/integration/dts/index.test.ts
Labels: change: fix

#422 docs: update css-modules to CSS Modules
  website/docs/en/guide/migration/modernjs-module.mdx
Labels: change: docs

#419 fix: checkMFPlugin function support array plugins
  .changeset/silver-pumas-tap.md
  packages/core/src/utils/helper.ts
  packages/core/tests/helper.test.ts
Labels: change: fix

#416 feat: support incremental build when composite is true
  packages/plugin-dts/src/tsc.ts
  pnpm-lock.yaml
  tests/integration/dts/composite/__fixtures__/src/index.ts
  tests/integration/dts/composite/__fixtures__/src/sum.ts
  tests/integration/dts/composite/__fixtures__/src/utils/numbers.ts
  tests/integration/dts/composite/__fixtures__/src/utils/strings.ts
  tests/integration/dts/composite/abort-on-error/package.json
  tests/integration/dts/composite/abort-on-error/rslib.config.ts
  tests/integration/dts/composite/abort-on-error/src/const.ts
  tests/integration/dts/composite/abort-on-error/src/index.ts
  tests/integration/dts/composite/abort-on-error/tsconfig.json
  tests/integration/dts/composite/basic/package.json
  tests/integration/dts/composite/basic/rslib.config.ts
  tests/integration/dts/composite/basic/tsconfig.json
  tests/integration/dts/composite/dist-path/package.json
  tests/integration/dts/composite/dist-path/rslib.config.ts
  tests/integration/dts/composite/dist-path/tsconfig.json
  tests/integration/dts/composite/process-files/package.json
  tests/integration/dts/composite/process-files/rslib.config.ts
  tests/integration/dts/composite/process-files/tsconfig.json
  tests/integration/dts/index.test.ts
Labels: change: feat

#399 feat: add EntryChunkPlugin to handle shebang and shims
  packages/core/rslib.config.ts
  packages/core/src/config.ts
  packages/core/src/constant.ts
  packages/core/src/css/RemoveCssExtractAssetPlugin.ts
  packages/core/src/css/cssConfig.ts
  packages/core/src/plugins/EntryChunkPlugin.ts
  packages/core/src/plugins/entryModuleLoader.ts
  packages/core/src/plugins/shims.ts
  packages/core/src/types/utils.ts
  packages/core/tests/__snapshots__/config.test.ts.snap
  packages/plugin-dts/src/apiExtractor.ts
  packages/plugin-dts/src/dts.ts
  pnpm-lock.yaml
  tests/integration/bundle-false/__snapshots__/index.test.ts.snap
  tests/integration/decorators/__snapshots__/index.test.ts.snap
  tests/integration/directive/index.test.ts
  tests/integration/directive/react/bundleless/package.json
  tests/integration/directive/react/bundleless/rslib.config.ts
  tests/integration/directive/react/bundleless/src/bar.tsx
  tests/integration/directive/react/bundleless/src/foo.tsx
  tests/integration/directive/react/bundleless/src/index.tsx
  tests/integration/directive/shebang/package.json
  tests/integration/directive/shebang/rslib.config.ts
  tests/integration/directive/shebang/src/bar.ts
  tests/integration/directive/shebang/src/foo.ts
  tests/integration/directive/shebang/src/index.ts
  tests/integration/external-helpers/__snapshots__/index.test.ts.snap
  tests/integration/minify/index.test.ts
  tests/integration/shims/cjs/src/index.ts
  tests/integration/shims/index.test.ts
  tests/integration/style/css/index.test.ts
  tests/playwright.config.ts
  tests/scripts/shared.ts
Labels: change: feat

#430 docs: add browser polyfill
  pnpm-lock.yaml
  tests/integration/polyfill/index.test.ts
  tests/integration/polyfill/package.json
  tests/integration/polyfill/rslib.config.ts
  tests/integration/polyfill/src/index.ts
  website/docs/en/guide/advanced/output-compatibility.mdx
Labels: change: docs

#436 feat: support lib.id
  packages/core/src/cli/commands.ts
  packages/core/src/config.ts
  packages/core/src/types/config/index.ts
  packages/core/src/types/utils.ts
  packages/core/tests/config.test.ts
  website/docs/en/config/lib/_meta.json
  website/docs/en/config/lib/id.mdx
  website/docs/en/guide/basic/cli.mdx
Labels: change: feat

#447 fix: add tsdoc for config options
  packages/core/src/types/config/index.ts
Labels: change: fix

#449 docs: add config.rsbuild.source
  website/docs/en/config/rsbuild.mdx
  website/docs/en/config/rsbuild/source.mdx
  website/theme/components/RsbuildDocBadge.tsx
Labels: change: docs

#448 docs: DTS
  packages/plugin-dts/README.md
  packages/plugin-dts/src/index.ts
  website/docs/en/_meta.json
  website/docs/en/config/lib/auto-external.mdx
  website/docs/en/config/lib/banner.mdx
  website/docs/en/config/lib/dts.mdx
  website/docs/en/config/lib/footer.mdx
  website/docs/en/config/rsbuild/source.mdx
  website/docs/en/guide/advanced/assets.mdx
  website/docs/en/guide/advanced/dts.mdx
  website/docs/en/guide/advanced/output-compatibility.mdx
  website/docs/en/guide/solution.mdx
  website/docs/en/guide/solution/nodejs.mdx
  website/docs/en/guide/solution/react.mdx
  website/docs/en/guide/start/glossary.mdx
Labels: change: docs

#438 feat!: use 'commonjs-import' as CJS external type by default
  examples/module-federation/mf-host/package.json
  examples/module-federation/mf-remote/package.json
  packages/core/package.json
  packages/core/src/config.ts
  packages/core/tests/__snapshots__/config.test.ts.snap
  packages/create-rslib/fragments/tools/storybook-react-js/package.json
  packages/create-rslib/fragments/tools/storybook-react-ts/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-js/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-ts/package.json
  packages/create-rslib/template-[react]-[storybook]-js/package.json
  packages/create-rslib/template-[react]-[storybook]-ts/package.json
  packages/plugin-dts/package.json
  pnpm-lock.yaml
  tests/integration/externals/index.test.ts
  tests/integration/externals/node/rslib.config.ts
  tests/integration/externals/node/src/baz.mjs
  tests/integration/externals/node/src/index.ts
  tests/package.json
  website/package.json
Labels: change: feat

#455 fix: js request when using `autoExtension: false` along with `output.filename.js`
  packages/core/src/config.ts
  tests/integration/bundle-false/index.test.ts
  tests/integration/bundle-false/js-extension/rslib.config.ts
Labels: change: fix

#457 docs(mf): polish docs
  .github/workflows/test.yml
  examples/module-federation/README.md
  examples/module-federation/mf-host/README.md
  examples/module-federation/mf-react-component/README.md
  examples/module-federation/mf-remote/README.md
  examples/module-federation/package.json
  website/docs/en/guide/advanced/module-federation.mdx
  website/docs/en/guide/advanced/storybook.mdx
  website/docs/en/guide/start/components/MF.mdx
  website/docs/en/guide/start/glossary.mdx
Labels: change: docs

#453 feat: add `--root` cli option and make basic js api work
  packages/core/src/cli/build.ts
  packages/core/src/cli/commands.ts
  packages/core/src/cli/init.ts
  packages/core/src/cli/inspect.ts
  packages/core/src/cli/mf.ts
  packages/core/src/config.ts
  packages/core/src/index.ts
  packages/core/src/utils/helper.ts
  packages/core/tests/__snapshots__/config.test.ts.snap
  packages/core/tests/config.test.ts
  pnpm-lock.yaml
  tests/integration/cli/build.test.ts
  tests/integration/cli/custom-config/rslib.config.custom.ts
  tests/integration/cli/custom-root/package.json
  tests/integration/cli/custom-root/rslib.config.ts
  website/docs/en/guide/basic/cli.mdx
Labels: change: feat

#460 feat!: emit CSS files to `dist` instead of `dist/static/css`
  examples/react-component-bundle/rslib.config.ts
  examples/vue-component-bundle/rslib.config.ts
  packages/core/src/config.ts
  packages/core/tests/__snapshots__/config.test.ts.snap
  tests/integration/style/css-modules/index.test.ts
  tests/integration/style/css/index.test.ts
  tests/integration/style/less/index.test.ts
  tests/integration/style/lightningcss/index.test.ts
  tests/integration/style/postcss/index.test.ts
  tests/integration/style/sass/index.test.ts
  tests/integration/style/tailwindcss/index.test.ts
Labels: change: feat

#461 docs: hide some unfinished docs
  website/docs/en/guide/advanced/_meta.json
  website/docs/en/guide/start/_meta.json
  website/docs/en/guide/start/index.mdx
  website/theme/index.tsx
Labels: change: docs

#462 docs: use index convention
  website/docs/en/config/lib/dts.mdx
  website/docs/en/config/lib/index.mdx
  website/docs/en/config/rsbuild/index.mdx
  website/docs/en/config/rsbuild/output.mdx
  website/docs/en/framework/typescript.mdx
  website/docs/en/framework/vue.mdx
  website/docs/en/guide/advanced/storybook.mdx
  website/docs/en/guide/basic/configure-rslib.mdx
  website/docs/en/guide/solution/index.mdx
Labels: change: docs

#464 docs: polish README
  README.md
Labels: change: docs

#480 docs: correct syntax and redirect examples
  website/docs/en/config/lib/redirect.mdx
  website/docs/en/config/lib/syntax.mdx
Labels: change: docs

#484 fix: entry query should handle non-string entry
  packages/core/src/config.ts
  packages/core/src/types/config/index.ts
  packages/core/tests/entry.test.ts
Labels: change: fix

#487 fix: the moduleIds should be deterministic if the env is production and format is mf
  .changeset/smooth-parents-pull.md
  packages/core/src/cli/mf.ts
  packages/core/src/config.ts
  scripts/dictionary.txt
  tests/integration/minify/index.test.ts
Labels: change: fix

#486 feat: clean dts files / buildinfo / .rslib temp folder
  .gitignore
  packages/plugin-dts/src/apiExtractor.ts
  packages/plugin-dts/src/dts.ts
  packages/plugin-dts/src/index.ts
  packages/plugin-dts/src/tsc.ts
  packages/plugin-dts/src/utils.ts
  pnpm-lock.yaml
  tests/integration/dts/build/clean/package.json
  tests/integration/dts/build/clean/rslib.config.ts
  tests/integration/dts/build/clean/src/index.ts
  tests/integration/dts/build/clean/src/sum.ts
  tests/integration/dts/build/clean/tsconfig.cjs.json
  tests/integration/dts/build/clean/tsconfig.esm.json
  tests/integration/dts/bundle-false/clean/package.json
  tests/integration/dts/bundle-false/clean/rslib.config.ts
  tests/integration/dts/bundle/clean/package.json
  tests/integration/dts/bundle/clean/rslib.config.ts
  tests/integration/dts/composite/clean/package.json
  tests/integration/dts/composite/clean/rslib.config.ts
  tests/integration/dts/composite/clean/tsconfig.json
  tests/integration/dts/index.test.ts
  tests/scripts/shared.ts
Labels: change: feat

#489 feat: support watch `rslib.config` to rebuild
  packages/core/package.json
  packages/core/prebundle.config.mjs
  packages/core/rslib.config.ts
  packages/core/src/cli/build.ts
  packages/core/src/cli/commands.ts
  packages/core/src/cli/init.ts
  packages/core/src/cli/mf.ts
  packages/core/src/cli/restart.ts
  packages/core/src/config.ts
  packages/core/src/utils/helper.ts
  packages/core/tests/config.test.ts
  packages/core/tsconfig.json
  packages/plugin-dts/src/index.ts
  pnpm-lock.yaml
  tests/integration/cli/build-watch/build.test.ts
  tests/integration/cli/build-watch/package.json
  tests/integration/cli/build-watch/rslib.config.ts
  tests/integration/cli/build-watch/src/index.ts
  tests/integration/cli/build-watch/tsconfig.json
  tests/scripts/helper.ts
  tests/scripts/shared.ts
Labels: change: feat

#495 perf: rm buildinfo on demand
  packages/plugin-dts/src/dts.ts
  packages/plugin-dts/src/index.ts
  packages/plugin-dts/src/utils.ts
Labels: change: perf

#494 fix: lazy import chokidar
  packages/core/src/cli/restart.ts
Labels: change: fix
