Repository web-infra-dev/rslib, pull requests merged in 2025-09, with the labels that each got.

#1212 docs: add hint for whether to enable `dts.build`
  packages/plugin-dts/README.md
  website/docs/en/config/lib/dts.mdx
  website/docs/zh/config/lib/dts.mdx
Labels: change: docs

#1220 fix: avoid chunk conflicts when multiple libs are present
  packages/core/src/config.ts
  packages/core/tests/__snapshots__/config.test.ts.snap
  pnpm-lock.yaml
  tests/integration/output/chunkFileName-multi/package.json
  tests/integration/output/chunkFileName-multi/rslib1.config.ts
  tests/integration/output/chunkFileName-multi/rslib2.config.ts
  tests/integration/output/chunkFileName-multi/rslib3.config.ts
  tests/integration/output/chunkFileName-multi/src/lib1.js
  tests/integration/output/chunkFileName-multi/src/lib2.js
  tests/integration/output/chunkFileName-multi/src/shared.js
  tests/integration/output/chunkFileName-single/package.json
  tests/integration/output/chunkFileName-single/rslib.config.ts
  tests/integration/output/chunkFileName-single/src/lib1.js
  tests/integration/output/chunkFileName-single/src/shared.js
  tests/integration/output/index.test.ts
Labels: change: fix

#1236 fix(docs): use `rp-not-doc` for rsbuild doc badge
  website/theme/components/RsbuildDocBadge.tsx
Labels: change: fix

#1246 docs: update examples link
  website/docs/en/guide/advanced/module-federation.mdx
  website/docs/en/guide/advanced/storybook.mdx
  website/docs/en/guide/solution/index.mdx
  website/docs/en/guide/solution/nodejs.mdx
  website/docs/en/guide/solution/react.mdx
  website/docs/en/guide/solution/vue.mdx
  website/docs/zh/guide/advanced/module-federation.mdx
  website/docs/zh/guide/advanced/storybook.mdx
  website/docs/zh/guide/solution/index.mdx
  website/docs/zh/guide/solution/nodejs.mdx
  website/docs/zh/guide/solution/react.mdx
  website/docs/zh/guide/solution/vue.mdx
Labels: change: docs

#1248 docs(zh): translate bundle example heading
  website/docs/zh/config/lib/bundle.mdx
Labels: change: docs, codex
