Repository web-infra-dev/rslib, pull requests merged in 2025-06, with the labels that each got.

#1038 docs: update output format description to include IIFE
  website/docs/en/guide/basic/output-format.mdx
  website/docs/zh/guide/basic/output-format.mdx
Labels: change: docs

#1041 docs: reopen domain redirection
  website/docs/public/netlify.toml
Labels: change: docs

#1047 fix: bump `storybook-addon-rslib` to fix mf storybook edge case
  examples/module-federation/mf-react-component/package.json
  examples/vue-component-bundleless/package.json
  packages/create-rslib/fragments/tools/storybook-react-js/package.json
  packages/create-rslib/fragments/tools/storybook-react-ts/package.json
  packages/create-rslib/fragments/tools/storybook-vue-js/package.json
  packages/create-rslib/fragments/tools/storybook-vue-ts/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-js/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-ts/package.json
  packages/create-rslib/template-[react]-[storybook]-js/package.json
  packages/create-rslib/template-[react]-[storybook]-ts/package.json
  packages/create-rslib/template-[vue]-[storybook,vitest]-js/package.json
  packages/create-rslib/template-[vue]-[storybook,vitest]-ts/package.json
  packages/create-rslib/template-[vue]-[storybook]-js/package.json
  packages/create-rslib/template-[vue]-[storybook]-ts/package.json
  pnpm-lock.yaml
Labels: change: fix

#1049 docs: generate the sitemap for SEO
  pnpm-lock.yaml
  website/package.json
  website/rspress.config.ts
Labels: change: docs

#1053 feat: bump Rsbuild 1.4.0-beta.3 to enhance default import rename
  examples/module-federation/mf-host/package.json
  examples/module-federation/mf-remote/package.json
  packages/core/package.json
  packages/create-rslib/fragments/tools/storybook-react-js/package.json
  packages/create-rslib/fragments/tools/storybook-react-ts/package.json
  packages/create-rslib/fragments/tools/storybook-vue-js/package.json
  packages/create-rslib/fragments/tools/storybook-vue-ts/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-js/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-ts/package.json
  packages/create-rslib/template-[react]-[storybook]-js/package.json
  packages/create-rslib/template-[react]-[storybook]-ts/package.json
  packages/create-rslib/template-[vue]-[storybook,vitest]-js/package.json
  packages/create-rslib/template-[vue]-[storybook,vitest]-ts/package.json
  packages/create-rslib/template-[vue]-[storybook]-js/package.json
  packages/create-rslib/template-[vue]-[storybook]-ts/package.json
  packages/plugin-dts/package.json
  pnpm-lock.yaml
  tests/integration/asset/index.test.ts
  tests/integration/auto-external/index.test.ts
  tests/integration/bundle-false/index.test.ts
  tests/integration/externals/index.test.ts
  tests/integration/format/index.test.ts
  tests/integration/polyfill/index.test.ts
  tests/integration/redirect/asset.test.ts
  tests/integration/redirect/js.test.ts
  tests/integration/redirect/jsNotResolved.test.ts
  tests/integration/redirect/style.test.ts
  tests/integration/resolve/index.test.ts
  tests/integration/style/stylus/index.test.ts
  tests/integration/transform-import/index.test.ts
  tests/integration/vue/index.test.ts
  tests/package.json
  website/package.json
Labels: change: feat

#1058 docs: add difference of modify config plugin hook
  website/docs/en/guide/faq/features.mdx
  website/docs/zh/guide/faq/features.mdx
Labels: change: docs

#1057 docs: clarify how to set browserslist
  website/docs/en/guide/advanced/output-compatibility.mdx
  website/docs/zh/guide/advanced/output-compatibility.mdx
Labels: change: docs

#1055 docs: list a table of all dts features
  website/docs/en/guide/advanced/dts.mdx
  website/docs/zh/config/lib/dts.mdx
  website/docs/zh/guide/advanced/dts.mdx
Labels: change: docs

#1069 fix: do not redirect third party css file
  packages/core/src/css/cssConfig.ts
  pnpm-lock.yaml
  tests/integration/redirect/js.test.ts
  tests/integration/redirect/js/package.json
  tests/integration/redirect/js/src/index.ts
  tests/integration/redirect/style.test.ts
  tests/integration/redirect/style/.gitignore
  tests/integration/redirect/style/node_modules/third-party/index.module.scss
  tests/integration/redirect/style/node_modules/third-party/package.json
  tests/integration/redirect/style/src/pkg/index.ts
Labels: change: fix

#1079 docs: use import attributes to import JSON files
  website/docs/en/guide/advanced/json-files.mdx
  website/docs/zh/guide/advanced/json-files.mdx
Labels: change: docs

#1081 fix(dts): should emit all kinds of diagnostics when composite is true
  packages/plugin-dts/src/tsc.ts
Labels: change: fix

#1086 fix(dts): collect all kinds of diagnostics when composite is true
  packages/plugin-dts/src/tsc.ts
Labels: change: fix
