Repository web-infra-dev/rslib, pull requests merged in 2025-05, with the labels that each got.

#965 docs: fix output.assetPrefix badge typo
  website/docs/zh/config/rsbuild/output.mdx
Labels: change: docs

#969 docs: output.injectStyles
  tests/integration/style/style-inject/index.test.ts
  website/docs/en/config/rsbuild/output.mdx
  website/docs/zh/config/rsbuild/output.mdx
Labels: change: docs

#968 docs(JSON): add output relationship with bundle mode
  pnpm-lock.yaml
  tests/integration/json/index.test.ts
  tests/integration/json/package.json
  tests/integration/json/rslib.config.ts
  tests/integration/json/src/foo.json
  tests/integration/json/src/index.ts
  tests/integration/json/tsconfig.json
  website/docs/en/guide/advanced/json-files.mdx
  website/docs/zh/guide/advanced/json-files.mdx
Labels: change: docs

#971 docs(json): fix line highlighting
  website/docs/en/guide/advanced/json-files.mdx
  website/docs/zh/guide/advanced/json-files.mdx
Labels: change: docs

#973 docs(deps): upgrade rspress 2.0.0-beta.5
  .vscode/settings.json
  biome.json
  pnpm-lock.yaml
  scripts/dictionary.txt
  tests/e2e/react-component/index.pw.test.ts
  website/docs/en/config/lib/dts.mdx
  website/docs/en/config/lib/external-helpers.mdx
  website/docs/en/config/lib/umd-name.mdx
  website/docs/en/guide/advanced/json-files.mdx
  website/docs/en/guide/advanced/module-federation.mdx
  website/docs/en/guide/advanced/output-compatibility.mdx
  website/docs/en/guide/basic/output-format.mdx
  website/docs/en/guide/solution/react.mdx
  website/docs/zh/config/lib/dts.mdx
  website/docs/zh/config/lib/external-helpers.mdx
  website/docs/zh/config/lib/umd-name.mdx
  website/docs/zh/guide/advanced/json-files.mdx
  website/docs/zh/guide/advanced/module-federation.mdx
  website/docs/zh/guide/advanced/output-compatibility.mdx
  website/docs/zh/guide/basic/output-format.mdx
  website/docs/zh/guide/solution/react.mdx
  website/package.json
  website/rspress.config.ts
  website/theme/components/RsbuildDocBadge.tsx
Labels: change: docs

#974 feat: update Rsbuild 1.3.18 and set caller name
  examples/module-federation/mf-host/package.json
  examples/module-federation/mf-react-component/package.json
  examples/module-federation/mf-remote/package.json
  examples/react-component-bundle-false/package.json
  examples/react-component-bundle/package.json
  examples/react-component-umd/package.json
  packages/core/package.json
  packages/core/src/cli/build.ts
  packages/core/src/cli/inspect.ts
  packages/core/src/cli/mf.ts
  packages/create-rslib/fragments/base/react-js/package.json
  packages/create-rslib/fragments/base/react-ts/package.json
  packages/create-rslib/fragments/tools/storybook-react-js/package.json
  packages/create-rslib/fragments/tools/storybook-react-ts/package.json
  packages/create-rslib/template-[react]-[]-js/package.json
  packages/create-rslib/template-[react]-[]-ts/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-js/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-ts/package.json
  packages/create-rslib/template-[react]-[storybook]-js/package.json
  packages/create-rslib/template-[react]-[storybook]-ts/package.json
  packages/create-rslib/template-[react]-[vitest]-js/package.json
  packages/create-rslib/template-[react]-[vitest]-ts/package.json
  packages/plugin-dts/package.json
  pnpm-lock.yaml
  tests/integration/asset/hash/package.json
  tests/integration/asset/svgr/package.json
  tests/integration/bundle-false/svgr/package.json
  tests/package.json
  tests/scripts/rsbuild.ts
  website/package.json
Labels: change: feat

#981 fix(create-rslib): do not pin Rsbuild version
  packages/create-rslib/fragments/tools/storybook-react-js/package.json
  packages/create-rslib/fragments/tools/storybook-react-ts/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-js/package.json
  packages/create-rslib/template-[react]-[storybook,vitest]-ts/package.json
  packages/create-rslib/template-[react]-[storybook]-js/package.json
  packages/create-rslib/template-[react]-[storybook]-ts/package.json
Labels: change: fix

#976 feat: format default to `'esm'`
  packages/core/src/config.ts
  packages/core/src/types/config.ts
  pnpm-lock.yaml
  tests/integration/format/cjs-static-export/package.json
  tests/integration/format/default/package.json
  tests/integration/format/default/rslib.config.ts
  tests/integration/format/default/src/foo.js
  tests/integration/format/default/src/index.js
  tests/integration/format/import-meta-url/package.json
  tests/integration/format/index.test.ts
  tests/scripts/shared.ts
  website/docs/en/config/lib/format.mdx
  website/docs/zh/config/lib/format.mdx
Labels: change: feat

#982 feat(create-rslib): syntax default to esnext
  packages/create-rslib/fragments/base/node-dual-js/rslib.config.mjs
  packages/create-rslib/fragments/base/node-dual-ts/rslib.config.ts
  packages/create-rslib/fragments/base/node-esm-js/rslib.config.mjs
  packages/create-rslib/fragments/base/node-esm-ts/rslib.config.ts
  packages/create-rslib/template-[node-dual]-[]-js/rslib.config.mjs
  packages/create-rslib/template-[node-dual]-[]-ts/rslib.config.ts
  packages/create-rslib/template-[node-dual]-[vitest]-js/rslib.config.mjs
  packages/create-rslib/template-[node-dual]-[vitest]-ts/rslib.config.ts
  packages/create-rslib/template-[node-esm]-[]-js/rslib.config.mjs
  packages/create-rslib/template-[node-esm]-[]-ts/rslib.config.ts
  packages/create-rslib/template-[node-esm]-[vitest]-js/rslib.config.mjs
  packages/create-rslib/template-[node-esm]-[vitest]-ts/rslib.config.ts
Labels: change: feat

#984 feat(create-rslib): syntax default to node 18
  packages/create-rslib/fragments/base/node-dual-js/rslib.config.mjs
  packages/create-rslib/fragments/base/node-dual-ts/rslib.config.ts
  packages/create-rslib/fragments/base/node-esm-js/rslib.config.mjs
  packages/create-rslib/fragments/base/node-esm-ts/rslib.config.ts
  packages/create-rslib/template-[node-dual]-[]-js/rslib.config.mjs
  packages/create-rslib/template-[node-dual]-[]-ts/rslib.config.ts
  packages/create-rslib/template-[node-dual]-[vitest]-js/rslib.config.mjs
  packages/create-rslib/template-[node-dual]-[vitest]-ts/rslib.config.ts
  packages/create-rslib/template-[node-esm]-[]-js/rslib.config.mjs
  packages/create-rslib/template-[node-esm]-[]-ts/rslib.config.ts
  packages/create-rslib/template-[node-esm]-[vitest]-js/rslib.config.mjs
  packages/create-rslib/template-[node-esm]-[vitest]-ts/rslib.config.ts
Labels: change: feat

#980 docs(blog): introducing Rslib blog
  pnpm-lock.yaml
  website/docs/en/_meta.json
  website/docs/en/blog/_meta.json
  website/docs/en/blog/index.mdx
  website/docs/en/blog/introducing-rslib.mdx
  website/docs/zh/_meta.json
  website/docs/zh/blog/_meta.json
  website/docs/zh/blog/index.mdx
  website/docs/zh/blog/introducing-rslib.mdx
  website/package.json
  website/rspress.config.ts
  website/theme/components/ImageAlt.tsx
Labels: change: docs

#988 docs: add OG images for website
  pnpm-lock.yaml
  website/package.json
  website/rspress.config.ts
Labels: change: docs

#998 feat: support `iife` format
  packages/core/src/config.ts
  packages/core/src/types/config.ts
  packages/core/tests/__snapshots__/config.test.ts.snap
  packages/core/tests/config.test.ts
  pnpm-lock.yaml
  tests/integration/format/default/rslib.config.ts
  tests/integration/iife/index.test.ts
  tests/integration/iife/package.json
  tests/integration/iife/rslib.config.ts
  tests/integration/iife/rslibBundleFalse.config.ts
  tests/integration/iife/src/index.ts
  tests/integration/iife/src/utils.ts
  tests/scripts/shared.ts
  website/docs/en/config/lib/format.mdx
  website/docs/en/guide/basic/output-format.mdx
  website/docs/zh/config/lib/format.mdx
  website/docs/zh/guide/basic/output-format.mdx
Labels: change: feat

#1006 docs: update Rstack introduction
  README.md
  README.zh-CN.md
  pnpm-lock.yaml
  scripts/dictionary.txt
  website/docs/en/guide/start/index.mdx
  website/docs/zh/guide/start/index.mdx
  website/package.json
Labels: change: docs

#1009 docs: optimize `source.exclude` description
  website/docs/en/config/rsbuild/source.mdx
  website/docs/zh/config/rsbuild/source.mdx
Labels: change: docs

#1010 docs: add how to preserve module variables
  website/docs/en/config/rsbuild/source.mdx
  website/docs/en/guide/faq/features.mdx
  website/docs/zh/config/rsbuild/source.mdx
  website/docs/zh/guide/faq/features.mdx
  website/rspress.config.ts
Labels: change: docs

#1012 perf: replace `commander` with `cac`
  packages/core/package.json
  packages/core/prebundle.config.mjs
  packages/core/rslib.config.ts
  packages/core/src/cli/commands.ts
  packages/core/src/cli/mf.ts
  packages/core/src/config.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
Labels: change: perf

#1013 docs: optimize cli docs
  website/docs/en/guide/basic/cli.mdx
  website/docs/zh/guide/basic/cli.mdx
Labels: change: docs

#1014 docs: update plugins bundleless compatibility
  website/docs/en/config/rsbuild/plugins.mdx
  website/docs/zh/config/rsbuild/plugins.mdx
Labels: change: docs

#1015 docs(rspress): use @rspress/plugin-algolia for search
  pnpm-lock.yaml
  website/package.json
  website/rspress.config.ts
  website/theme/index.tsx
Labels: change: docs

#1020 feat: support `umdName` of array and object type
  packages/core/src/config.ts
  packages/core/src/types/config.ts
  tests/integration/umd-library-name/index.test.ts
  tests/integration/umd-library-name/rslib.config.ts
  website/docs/en/config/lib/index.mdx
  website/docs/en/config/lib/umd-name.mdx
  website/docs/zh/config/lib/index.mdx
  website/docs/zh/config/lib/umd-name.mdx
Labels: change: feat

#1021 docs: create Vue project
  website/docs/en/guide/solution/vue.mdx
  website/docs/zh/guide/solution/vue.mdx
Labels: change: docs

#1027 docs: redirect lib.rsbuild.dev to rslib.rs
  website/docs/public/netlify.toml
Labels: change: docs

#1030 docs: disable domain redirection
  website/docs/public/netlify.toml
Labels: change: docs

#1031 docs: update Vue template in quick start chapter
  website/docs/en/guide/start/quick-start.mdx
  website/docs/zh/guide/start/quick-start.mdx
Labels: change: docs

#1025 feat(dts): support override bundledPackages
  packages/core/src/types/config.ts
  packages/plugin-dts/README.md
  packages/plugin-dts/src/dts.ts
  packages/plugin-dts/src/index.ts
  packages/plugin-dts/tests/external.test.ts
  pnpm-lock.yaml
  tests/integration/dts/bundle/bundled-packages/package.json
  tests/integration/dts/bundle/bundled-packages/rslib.config.ts
  tests/integration/dts/bundle/bundled-packages/src/index.ts
  tests/integration/dts/bundle/bundled-packages/tsconfig.json
  tests/integration/dts/index.test.ts
  website/docs/en/config/lib/dts.mdx
  website/docs/zh/config/lib/dts.mdx
Labels: change: feat
